<!DOCTYPE html>
<html lang="en">

<%- include('header') -%>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
            <% if (currentUser) {%>
                <li class="nav-item">
                    <a class="nav-link" href="/log-out">Log Out</a>
                </li>
                <% if (!currentUser.member) {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/members">Member Login</a>
                    </li>  
                <% } else {%>
                
                <%}%>
            <% } else {%>
                <li class="nav-item">
                    <a class="nav-link"  href="/sign-up">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/log-in">Log In</a>
                </li>
            <%}%>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <h1>Club Memba</h1>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <% if (currentUser) {%>
                    <h1>Welcome <%= currentUser.username %>!</h1>
                    <% if (currentUser.member) {%>
                        <a href="/message"><button class="btn btn-primary">New Message</button></a>
                        <% if (message_list) {%>
                            <% if (currentUser.admin) {%>
                                <% message_list.forEach(function(message) { %>
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="card-text"><%= message.message %></p>
                                            <h6 class="card-subtitle text-muted"><%= message.date_formatted %> by <%= message.user.username %></h6>
                                            <form class="messageDeleteForm" action="" method="POST"><input class="messageDeleteInput" type="hidden" name="messageId"
                                                    value="<%= message.id %>" /><button class="messageDeleteButton">x</button></form>
                                        </div>
                                    </div>
                                <% }); %>
                            <% } else {%>
                                <% message_list.forEach(function(message) { %>
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="card-text"><%= message.message %></p>
                                            <h6 class="card-subtitle text-muted"><%= message.date_formatted %> by <%= message.user.username %></h6>
                                        </div>
                                    </div>
                                <% }); %>
                            <%}%>
                        <% } else {%>
                            <p>No messages found</p>
                        <%}%>
                    <% } else {%>
                        <% if (message_list) {%>
                            <h3>Become a <a href="/members">member</a> to see who posts messages!</h3>
                            <a href="/message"><button class="btn btn-primary">New Message</button></a>
                            <% message_list.forEach(function(message) { %>
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text"><%= message.message %></p>
                                        <h6 class="card-subtitle text-muted"><%= message.date_formatted %> by <span style="font-style: italic;"><a href="/members">anonymous</a></span></h6>
                                    </div>
                                </div>
                            <% }); %>
                        <% } else {%>
                            <p>No messages found</p>
                        <%}%>
                    <%}%>
                    <br>
                    <a href="/log-out"><button class="btn btn-primary">Log Out</button></a>
                <% } else {%>
                    <% if (message_list) {%>
                        <h3><a href="/log-in">Log in</a> to Club Memba to see messages!</h3>
                        <% message_list.forEach(function(message) { %>
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text"><span class="blurredText"><%= message.message %></span></p>
                                    <h6 class="card-subtitle text-muted"><%= message.date_formatted %></h6>
                                </div>
                            </div>
                        <% }); %>
                    <% } else {%>
                        <p>No messages found</p>
                    <%}%>
                <%}%>
            </div>
        </div>
        <hr>
    </div>
    <hr>
    <nav class="navbar fixed-bottom navbar-light custom-footer">
        <a class="mx-auto navbar-brand" href="/">Created by Ryan Floyd</a>
    </nav>
    <%- include('bootstrap-script') -%>
</body>
</html>